{% extends "./plantilla.html"%}
{%block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="{% url 'insertarGenero' %}" method="post">
                    {% csrf_token %}
                    <label for=""><b>NOMBRE:</b></label>
                    <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre del género">
                    <label for=""><b>DESCRIPCIÓN:</b></label>
                    <textarea name="descripcion" id="descripcion" class="form-control" rows="3" placeholder="Ingrese la descripción"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{% url 'listaGeneros' %}" class="btn btn-light">Cancelar</a>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}